NODE_ENV=production
PORT=5000

DATABASE_URL=postgresql://db_user:db_password@db_host:5432/db_name
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=Just_gold
DB_PASSWORD="Aliasgar1234@#"
JWT_SECRET=your_super_secret_key_12345
FRONTEND_URL=http://localhost:5173

# payment

